<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{77,52}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,52}}</string>
                <key>sourceSize</key>
                <string>{79,54}</string>
            </dict>
            <key>physical.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{1,103},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>physics.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{80,1},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>pack.png</string>
            <key>size</key>
            <string>{202,304}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49ff61c20cf5bd78b210e882754a2ceb:901e323730febb2daad30e67f51716c4:e5622e2e666fb66291b4de0715b53fdf$</string>
            <key>textureFileName</key>
            <string>pack.png</string>
        </dict>
    </dict>
</plist>
